<ion-view title="Add course">
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="doSignup()" name="signupForm">
      <div class="item item-divider">
        Details
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Course name</span>
        <input type="text" placeholder="Exp: Computer Science" ng-model="course.name" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Course pre-requisite</span>
        <input type="text" placeholder="Exp: Computing Essential" ng-model="course.name" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Lecturer</span>
        <input type="text" placeholder="Name" ng-model="course.name" required>
      </label>
      <div class="item item-divider">
        Availability
      </div>

      <div class="spacer" style="width: 300px; height: 1dw0px;"></div>
      <button type="submit" class="button button-positive button-block button-full">Add course</button>
    </form>
  </ion-content>
</ion-view>
