<ion-view title="Add course">
  <ion-content padding="true" class="has-header">
    <form class="list" ng-submit="addCourse()">
      <div class="item item-divider">
        Details
      </div>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Course code</span>
        <input type="text" ng-model="course.code" placeholder="Exp: CS001" required>
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Course name</span>
        <input type="text" placeholder="Exp: Bachelor Degree in Computer Science" ng-model="course.name" required>
      </label>
      <div class="item item-divider">
        Duration
      </div>
      <label class="item item-input">
        <span class="input-label">Years</span>
        <input type="number" ng-model="course.durationYear" required>
      </label>
      <label class="item item-input">
        <span class="input-label">Months</span>
        <input type="number" ng-model="course.durationMonth" required>
      </label>
      <button type="submit" class="button button-positive button-block button-full">Add course</button>
    </form>
  </ion-content>
</ion-view>
