<ion-view title="Class - Lecturer">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-divider">Class details</div>
            <ion-item class="item-text-wrap">
              <h4>{{selectedModule.code}}</h4>
              <h2>{{selectedModule.name}}</h2>
              <p ng-repeat="week in selectedModule.availability.week">{{week.name}}: {{(week.start).substring(11,16)}} - {{(week.end).substring(11,16)}} </p>
            </ion-item>
            <button class="button button-full button-stable" ng-click="refreshClass()">Refresh</button>
            <ion-list>
              <div class="item item-divider">Student List</div>
              <ion-checkbox ng-repeat="student in students track by $index" ng-model="student.confirm">{{student.name}}</ion-checkbox>
            </ion-list>
        </div>
        <button class="button button-full button-assertive" ng-click="finishClass()">Finish Class</button>
    </ion-content>
</ion-view>
