<ion-view title="Class">
    <ion-content padding="true" class="has-header">
        <h3>MOD002663 Mobile Technology</h3>
        <div class="list card">
            <div class="item item-divider">Class details</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Lecturer</div>
            <div class="item item-body"></div>
        </div>
        <div class="list card">
            <div class="item item-divider">Notes</div>
            <div class="item item-body"></div>
        </div>
    </ion-content>
</ion-view>