<ion-view title="Class - Lecturer">
    <ion-content padding="true" class="has-header">
        <div class="list">
            <div class="item item-divider">Class details</div>
            <ion-item class="item-text-wrap" href="#/class">
              <h4>MOD002663</h4>
              <h2>Mobile Technology</h2>
              <p>9:00am - 11:00am</p>
            </ion-item>

            <div class="item item-divider">Lecturer</div>
            <div class="item item-body">Mr John</div>

            <!-- <div class="item item-divider">Notes</div>
            <div class="item item-body"></div> -->
        </div>
        <button class="button button-full button-assertive" ng-click="attendClass()">Attend</button>

    </ion-content>
</ion-view>
