<ion-view title="Home">
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="openPopover($event)">
      <i class="icon ion-more"></i>
    </button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div class="item item-divider">
      Today
    </div>
    <ion-list>
      <ion-item class="item-thumbnail-left item-text-wrap" href="#/class">
        <h4>MOD002663</h4>
        <h2>Mobile Technology</h2>
        <p>9:00am - 11:00am</p>
      </ion-item>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <h4>MOD002691</h4>
        <h2>Undergraduate Major Project</h2>
        <p>11:00am - 2:00pm</p>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 34px;"></div>
    <div class="item item-divider">
      Today
    </div>
    <ion-list>
      <ion-item>Item 1</ion-item>
      <ion-item>Item 2</ion-item>
      <ion-item>Item 3</ion-item>
    </ion-list>
    <button class="button button-full button-stable">View Week Schedule</button>
  </ion-content>
  <nav mfb-menu position="br" effect="zoomin" active-icon="ion-plus-round" resting-icon="ion-plus-round" toggling-method="hover">
    <button mfb-button icon="fa fa-book" label="Add Module" ng-click="goto('register_module')"></button>
  </nav>
</ion-view>

<script id="home-menu.html" type="text/ng-template">
  <ion-popover-view style="height:100px;">
    <ion-header-bar>
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
    <ul class="list">
      <li class="item">
        <a class="item-icon-left" ng-click="logout()">
          <i class="icon ion-log-out"></i> Logout
        </a>
      </li>
    </ul>
    </ion-content>
  </ion-popover-view>
</script>
